.responsive-calendar {
  height: 550px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (min-width: 1024px) {
  .responsive-calendar {
    height: 550px;
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    height: 400px;
    max-width: 100%;
    margin-top: 150px;
  }
}

/* .rbc-event {
  background-color: rgba(174, 0, 255, 0.532);
  height: 10px;
  margin-top: 80px;
}
.rbc-day-bg {
  background-color: rgba(165, 169, 169, 0.356);
} */
/* para los estilos selecciona desde el inspeccionador las clases y modifica lo que quieras */
/* .rbc-btn-group > button {

} */

.rbc-calendar {
  width: 100%;
}
.rbc-header {
  padding: 10px;
}
.rbc-toolbar {
  gap: 15px;
}
.rbc-toolbar-label {
  text-transform: capitalize;
  color: var(--color-dark-blue);
  font-weight: bold;
}
.rbc-today {
  background-color: var(--color-light-pink);
}
.rbc-event {
  background-color: var(--color-dark-blue);
}
.rbc-calendar {
  background-color: var(--color-white);
  padding: 20px;
}
.rbc-row-bg {
  cursor: pointer;
}
.rbc-button-link {
}
